{% extends 'master.html' %}

{% block title %}
Heróis
{% endblock  %}

{% block content %}
<div class="card mt-2">
    <div class="d-flex card-header justify-content-between">
        <span class="lead">Meus heróis cadastrados</span>
        <a href="/new_hero/">
          <button type="button" class="btn btn-primary">Novo herói</button>
        </a>
      </div>
    <div class="card-body">
        <ul class="list-group">
            {% for hero in myheroes %}
            <li class="d-flex justify-content-between list-group-item">
              <a href="/hero_detail/{{hero.id}}">{{hero.name}}</a>
              <div>
                <a href="/update_hero/{{ hero.id }}" class="ms-2 btn btn-success fa-solid fa-pencil">
                  <span class="material-symbols-outlined">
                      Editar
                  </span>
                </a>
                <a href="/delete_hero/{{ hero.id }}" class="ms-2 btn btn-danger fa-solid fa-trash-can">
                  <span class="material-symbols-outlined">
                      Remover
                  </span>
                </a>
              </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock  %}