{% extends 'master.html' %}

{% block title %}
    Atualizar Herói
{% endblock %}

{% block content %}

<div class="card mt-2">
    <div class="card-header">
        Atualizando seu herói
    </div>
    <div class="card-body">
        <form action="/update_hero_data/{{ hero.id }}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-12">
                Nome do Herói:<br />
                <input name="name" value={{hero.name}} />
              </div>
            </div>
  
            <div class="row">
              <div class="col-sm-12 col-md-2">
                Força:<br />
                <input name="str" required value={{hero.str}} />
              </div>
              <div class="col-sm-12 col-md-2">
                Destreza:<br />
                <input name="dex" required value={{hero.dex}} />
              </div>
              <div class="col-sm-12 col-md-2">
                Constituição:<br />
                <input name="con"  required value={{hero.con}} />
              </div>
              <div class="col-sm-12 col-md-2">
                Inteligência:<br />
                <input name="int"  required value={{hero.int}} />
              </div>
              <div class="col-sm-12 col-md-2">
                Sabedoria:<br />
                <input name="wis"  required value={{hero.wis}} />
              </div>
              <div class="col-sm-12 col-md-2">
                Carisma:<br />
                <input name="cha" required value="{{hero.cha}}"/>
              </div>
            </div>
            <div class="pt-2 mt-4">
              <button class="btn btn-success" type="submit">Editar</button>
            </div>
        </form>
        <p class="p-2">
          <a href="/heroes">Voltar</a>
        </p>
    </div>
</div>
{% endblock %}